.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 11;
  pointer-events: none;
}

.img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  transition: var(--time-1);
}

.slider-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 400px));
  width: 90%;
  max-width: 900px;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  align-items: center;
  justify-items: center;
  opacity: 0;
  transition: 0.2s;
}

.slider-wrap img {
  max-width: 100%;
  display: none;
  border-radius: 10px;
}

.navigation {
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  padding: 2rem;
}

.slider-wrap img.showImage {
  display: block;
}

.modal.open {
  pointer-events: auto;
}

.modal.open .img-overlay {
  opacity: 1;
}

#root:has(.modal.open) .container {
  transform: scale(0.9);
}

.modal.open .slider-wrap {
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: 0.45s 0.1s;
}

@media (max-width: 768px) {
  .portfolio .slider-wrap {
    width: calc(100% - 2rem);
    grid-template-columns: 50px 1fr 50px;
  }

  .images {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  .prev-btn {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
    color: #333;
  }

  .next-btn {
    grid-column: 3/4;
    grid-row: 1/2;
    z-index: 1;
    color: #333;
  }
}
